:root {
  --roboto-bold-font-family: "Roboto", Helvetica;
  --roboto-bold-font-weight: 700;
  --roboto-bold-font-size: 16px;
  --roboto-bold-letter-spacing: 0px;
  --roboto-bold-line-height: normal;
  --roboto-bold-font-style: normal;
  --roboto-regular-font-family: "Roboto", Helvetica;
  --roboto-regular-font-weight: 400;
  --roboto-regular-font-size: 19.84375px;
  --roboto-regular-letter-spacing: 0px;
  --roboto-regular-line-height: 34px;
  --roboto-regular-font-style: normal;
  --semantic-heading-1-font-family: "Roboto", Helvetica;
  --semantic-heading-1-font-weight: 700;
  --semantic-heading-1-font-size: 71.859375px;
  --semantic-heading-1-letter-spacing: -1.440000057220459px;
  --semantic-heading-1-line-height: normal;
  --semantic-heading-1-font-style: normal;
  --semantic-input-font-family: "Roboto", Helvetica;
  --semantic-input-font-weight: 400;
  --semantic-input-font-size: 17.462499618530273px;
  --semantic-input-letter-spacing: 0px;
  --semantic-input-line-height: normal;
  --semantic-input-font-style: normal;
  --m3-headline-small-font-family: "Roboto", Helvetica;
  --m3-headline-small-font-weight: 400;
  --m3-headline-small-font-size: 24px;
  --m3-headline-small-letter-spacing: 0px;
  --m3-headline-small-line-height: 32px;
  --m3-headline-small-font-style: normal;
  --m3-headline-medium-emphasized-font-family: "Roboto", Helvetica;
  --m3-headline-medium-emphasized-font-weight: 500;
  --m3-headline-medium-emphasized-font-size: 28px;
  --m3-headline-medium-emphasized-letter-spacing: 0px;
  --m3-headline-medium-emphasized-line-height: 36px;
  --m3-headline-medium-emphasized-font-style: normal;
  --m3-title-large-font-family: "Roboto", Helvetica;
  --m3-title-large-font-weight: 400;
  --m3-title-large-font-size: 22px;
  --m3-title-large-letter-spacing: 0px;
  --m3-title-large-line-height: 28px;
  --m3-title-large-font-style: normal;
  --m3-display-large-font-family: "Roboto", Helvetica;
  --m3-display-large-font-weight: 400;
  --m3-display-large-font-size: 57px;
  --m3-display-large-letter-spacing: -0.25px;
  --m3-display-large-line-height: 64px;
  --m3-display-large-font-style: normal;
}
